<%- include('partials/header') %>


<body onload="getDataReq()">

    <button onclick="logoutReq()" class="btn btn-outline-danger">Logout</button>
    <h5>Logged in as <span class="badge badge-secondary"><%= logged_user%></span></h5>

    <blockquote class="blockquote text-center">
        <p class="mb-0 display-3">Delete User</p>
    </blockquote>
    <div class="container">
        <form>
            <div id="alertDialogue" class="alert alert-danger" hidden></div>
            <div class="row">
                <div class="col-6 text-align-right" style="font-size: 1.5em;font-weight: bolder;">
                    Username
                </div>
                <div class="col-6">
                    <select id="username" class="btn btn-primary btn-lg active">
                        <option>Username</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-align-right" style="font-size: 1.5em;font-weight: bolder;">
                    Role
                </div>
                <div class="col-6">
                    <label for="roleAdmin">Admin</label>
                    <input type="radio" name="role" id="r1" value="admin" >
                    <br>
                    <label for="roleSubAdmin">SubAdmin</label>
                    <input type="radio" name="role" id="r2" value="subadmin">
                    <br>
                    <label for="roleTourist">Tourist</label>
                    <input type="radio" name="role" id="r3" value="tourist">
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-3 btn btn-outline-success text-align-right">
                        <div style="font-size: 1.5em;font-weight: bolder;" onclick="deleteReq()">Delete</div>
                    </div> 
                </div>
            </div>
        </form>
    </div>
</body>
<%- include('partials/footer') %>