<html>
  <head><title> App login</title></head>
  <body>
    <div style="width: 60%;margin: 0 auto;">
    <form name="form">
      <h3>Login</h3>
      <label for="username">Username</label>
      <input type="text" id='username' name="username" placeholder="Enter username"></form>
      <label for="password">password</label>
      <input type="text" id="password" name="password" placeholder="Enter password"></input>
      <p><submit onclick="loginReq()">Login</submit></p>
    </form>

    <button onclick="logoutReq()">Logout</button>
  </body> 
  
  <script>
    var myHeaders = new Headers();
    var userEle = document.getElementById('username'), passEle = document.getElementById('password');
    myHeaders.append("Content-Type", "application/json");
    var logout_url ='http://'+ document.location.host + '<%=url_base  %>' + '/logout';
    function loginReq(){

          fetch(window.location.href, {
            method: 'POST',
            headers: myHeaders,
            body: JSON.stringify({
                        "username":userEle.value,
                        "password":passEle.value
                      }),
            redirect: 'follow'
          }).then(response => {
            if(!response.ok){
              throw response.json()
            }
            return response.json()
          }).then(result => {
            console.log('Valid')
            console.log(result.message)
            // document.cookie= "token="+result.token
          }).catch(error => {
            console.log('Invalid')
            error.then(res => {
              console.log(res.error)
            }).catch(err => {
              console.log(err)
            })
          });
    }

    function logoutReq(){
      fetch(logout_url, {
        method: 'POST',
        headers: myHeaders
      }).then(response => {
        return response.json();
      }).then(result=> {
        console.log(result.message);
      }).catch(err=> {
        console.log(err);
      })
    }




  </script>
</html>
