<%- include('partials/header') %>

<body>

	<blockquote class="blockquote text-center">
        <p class="mb-0 display-3">Login</p>
    </blockquote>
	<div class="container">
		<form name="form">

			<div id="alertDialogue" class="alert alert-danger" hidden></div>

			<div class="row">
                <label class="col-6 text-align-right" style="font-size: 1.5em;font-weight: bolder;" for='username'>
                    Username
				</label>
                <div class="col-6">
                    <input type="text" id='username' name="username" placeholder="Enter username"></input>
                </div>
            </div>

			<div class="row">
                <label class="col-6 text-align-right" style="font-size: 1.5em;font-weight: bolder;" for='password'>
                    Password
				</label>
                <div class="col-6">
					<input type="password" id="password" name="password" placeholder="Enter password"></input>
                </div>
            </div>
			<div>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-3 btn btn-outline-success text-align-right">
                        <div style="font-size: 1.5em;font-weight: bolder;" onclick="loginReq()">Login</div>
                    </div> 
                </div>
            </div>
		</form>
	</div>
</body>
<%- include('partials/footer') %>