<html>
  <head><title> App login</title></head>
  <body>
    <div style="width: 60%;margin: 0 auto;">
    <form name="form">
      <h3>Login</h3>
      <label for="username">Username</label>
      <input type="text" id='username' name="username" placeholder="Enter username"></form>
      <label for="password">password</label>
      <input type="text" id="password" name="password" placeholder="Enter password"></input>
      <p><button onclick="loginReq()">Login</button></p>
    </form>

    
  </body> 
  
  <script>
    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    var userEle = document.getElementById('username'), passEle = document.getElementById('password');
    function loginReq(){

          fetch(window.location.href, {
            method: 'POST',
            headers: myHeaders,
            body: JSON.stringify({
                        "username":userEle.value,
                        "password":passEle.value
                      }),
            redirect: 'follow'
          }).then(response => {
            if(!response.ok){
              throw response.json()
            }
            return response.json()
          }).then(result => {
            console.log(result.message)
            document.location.href = 'http://'+ document.location.host +result.redirect
            // document.cookie= "token="+result.token
          }).catch(error => {
            error.then(res => {
              console.log(res.error)
            }).catch(err => {
              console.log(err)
            })
          });
    }

  </script>
</html>
