<%- include('partials/header') %>

<body onload="displayLogs()">
    <div id="alertDialogue" class="alert alert-danger" hidden></div>
    <div id="logpanel"></div>
    <div id="showData"></div>
</body>

<%- include('partials/footer') %>