<%- include('partials/header') %>

<body>

	
    <button onclick="logoutReq()" class="btn btn-danger">Logout</button>
    <button onclick="redirectCus('<%= loggedUserPage%>')" class="btn btn-primary"><%= logged_user%></button>
	
	<blockquote class="blockquote text-center">
		<p class="mb-0 display-3">Create new user</p>
	</blockquote>
	<div class="container">
		<form name="form">
			<div id="alertDialogue" class="alert alert-danger" hidden></div>
			<div class="row">
				<label class="col-6 text-align-right" style="font-size: 1.5em;font-weight: bolder;" for='username'>
					Username
				</label>
				<div class="col-6">
					<input type="text" id='username' name="username" placeholder="Enter username"></input>
				</div>
			</div>

			<div class="row">
				<label class="col-6 text-align-right" style="font-size: 1.5em;font-weight: bolder;" for='password'>
					Password
				</label>
				<div class="col-6">
					<input type="password" id="password" name="password" placeholder="Enter password"></input>
				</div>
			</div>

			<div class="row">
				<div class="col-6 text-align-right" style="font-size: 1.5em;font-weight: bolder;">
					Role
				</div>
				<div class="col-6">
					<label for="roleAdmin">Admin</label>
					<input type="radio" name="role" id="r1" value="admin">
					<br>
					<label for="roleSubAdmin">SubAdmin</label>
					<input type="radio" name="role" id="r2" value="subadmin">
					<br>
					<label for="roleTourist">Tourist</label>
					<input type="radio" name="role" id="r3" value="tourist">
				</div>
			</div>

			<div>
				<div class="row">
					<div class="col-5"></div>
					<div class="col-3 btn btn-outline-success text-align-right">
						<div style="font-size: 1.5em;font-weight: bolder;" onclick="signupReq()">Create new user</div>
					</div>
				</div>
			</div>

		</form>
	</div>
</body>

<%- include('partials/footer') %>