<html>
    <head>
        <title>Update</title>
    </head>
    <body>
        <button onclick="logoutReq()">Logout</button>
        <div style="width: 60%;margin: 0 auto;">

            <form name='form'>
                <h3>Update password</h3>
                <div>
                    <label for='password'>Password</label>
                    <input type="password" id='password' name="password" placeholder="New Password" \>
                </div>
                <div>
                    <label for="rePassword">Re-Type Password</label>
                    <input type="password" id='rePassword' name="rePassword" placeholder="Type Password again"\>
                </div>
                <div>
                    <button id="formButton">Change Password</button>
                </div>
            </form>

        </div>
    </body>
    <script>
        var passEle = document.getElementById('password'),
            rePassEle = document.getElementById('rePassword'), 
            formButton = document.getElementById('formButton');

        function logoutReq(){

            var logout_url ='http://'+ document.location.host + '<%=url_base  %>' + '/logout';
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            
            fetch(logout_url, {
                method: 'POST',
                headers: myHeaders
            }).then(response => {
                return response.json();
            }).then(result=> {
                console.log(result.message);
                document.location.href = 'http://'+document.location.host+result.redirect;
            }).catch(err=> {
                console.log(err);
            });
        }

        function updatePassReq(){
            if(passEle.value != rePassEle.value){
                console.log('Password Do not match')
                return;
            }


            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({user: {"password": passEle.value}});

            var requestOptions = {
            method: 'PUT',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
            };

            fetch(document.location.href, requestOptions).then(response => {
                console.log(response)
                if(!response.ok){
                    throw response.json()
                }
                return response.json();
            }).then(result=> {
                console.log('Valid')
                console.log(result.message)
                return
            }).catch(error=> {
                console.log('Invalid')
                error.then(res=> {
                    console.log(res.error)
                }).catch(err=> {
                    console.log(err)
                })
            })
        }


        formButton.addEventListener('click', function(event){
            event.preventDefault();
            updatePassReq();
            return false
        });


    </script>
</html>