body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.row{
    margin-top: 4% !important;
}

.text-align-right{
    text-align: right;
}

.tableOddCol{
	background-color: lightcoral;
	text-align: center;
	width: 20%;
}

.tableEvenCol{
	background-color: rgb(165, 208, 243);
	text-align: center;
	width: 20%;
}

.tableHead{
	background-color: green;
	text-align: center;
	width: 20%;
}

#showData{
	width: 80%;
	margin: 0 auto;
}

.logTag{
	color: white !;
}